*
!pyproject.toml
!setup.py
!README.md
!CMakeLists.txt
!MANIFEST.in
!src/piper/*.py
!src/piper/espeakbridge.pyi
!src/piper/espeakbridge.c
!src/piper/tashkeel/*
!src/piper/train/**/*
!src/piper/img/*
!src/piper/templates/*
!script/setup
!script/dev_build
!script/package
!docker/entrypoint.sh
!licenses/
!COPYING
